/* 注释 */

#body{
    margin: 0;
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 34, 34);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(56, 53, 49);
    color: rgb(255, 255, 255);
    
}
#key{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: gray;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(63, 76, 72);
}
button:active{
    background-color: rgb(107, 131, 131);
}
.operator-btn{
    background-color: orange;
}
.operator-btn:hover{
    background-color: rgb(223, 181, 103);
}
.operator-btn:active{
    background-color: rgb(161, 112, 23);
}